<p>list works!</p>

<div class="grid grid-cols-3 gap-8" >
    <app-product title="producto1" imagen="https://picsum.photos/320/320?r=1" [price]=200 (addToCart)="fromChild($event)"></app-product>
    <app-product title="producto2" imagen="https://picsum.photos/320/320?r=2" [price]=200 (addToCart)="fromChild($event)"></app-product>
    <app-product title="producto3" imagen="https://picsum.photos/320/320?r=3" [price]=200 (addToCart)="fromChild($event)"></app-product>
    <app-product title="producto4" imagen="https://picsum.photos/320/320?r=4" [price]=200 (addToCart)="fromChild($event)"></app-product>
    <app-product title="producto5" imagen="https://picsum.photos/320/320?r=5" [price]=200 (addToCart)="fromChild($event)"></app-product>
    <app-product title="producto6" imagen="https://picsum.photos/320/320?r=6" [price]=200 (addToCart)="fromChild($event)"></app-product>
    <app-product title="producto7" imagen="https://picsum.photos/320/320?r=7" [price]=200 (addToCart)="fromChild($event)"></app-product>
    <app-product title="producto8" imagen="https://picsum.photos/320/320?r=8" [price]=200 (addToCart)="fromChild($event)"></app-product>
    <app-product title="producto9" imagen="https://picsum.photos/320/320?r=9" [price]=200 (addToCart)="fromChild($event)"></app-product>

</div>
